@charset "UTF-8";

/* Limpar formatação padrão */
* {
    margin: 0;
    padding: 0;
}

body { 
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#header, #menu {
    padding: 12px;
}

#content {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts-area {
    float: left;
    width: 660px;
}

#lateral-area {
    float: right;
    width: 240px;
}

.lateral-content {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#footer {
    clear: both;
    background: #CCC;
    text-align: center;
    padding: 15px;
}

/* Formatações do Menu */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#header a:link, #header a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#header a:hover {
    color: #f7b600;
    background: #ffffff;
    text-decoration: none;
}

/* Formatações Gerais */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.branco {
    color: #ffffff;
}

.post-date {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.lateral-post {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid black;
}

.category-list {
    padding: 5px;
}

li {
    list-style: none;
}